@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  font-family:'Monserrat', sans-serif;
  heigth: 100vh;
}

main {
  width: 560px;
  background-color:  red; */
  display: flex;
}

.photo {
    background-color: greenyellow; */
    width: 300px;
    background-image: url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px 0 0 7px;
}

.content {
    background-color: hsl(0, 0%, 100%);
    width: 260px;
    padding: 28px;
    border-radius: 0 7px 7px 0;
    box-shadow: 1px 1px 3px #ccc;
}

.content h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin: 0;
}

.content hl {
    font-family: "Fraunces"; sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: hsl(228, 12%, 48%)

}